# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.EasyDD_BackEnd.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Develop\Web Development\EasyDD_BackEnd\.idea\.idea.EasyDD_BackEnd.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
